html {
    background-color: #8A2D2D;
}

header {
    background-color: #8A2D2D;
}

.logoone {
    width: 150px;
    height: 150px;
    margin: 0;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    /* Spinning icon animation because why not. I thought it would bring more life to the website.*/
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

nav {
    background-color:#cc9673;
}

li a {
    color: black;
    text-decoration: none;
}

nav ul li {
    margin: 0;
    padding-top:0px;
    padding-left: 90px;
    padding-right: 100px;
  display: inline;
  font-size: 20px;
}

 /* Text animation when mouse hovers*/
 nav ul li:hover{
    opacity: 0.1;
    transition: 0.3s;
    }

body {
    text-align: center;
    background-color: white;
}

.heading p {
    color:#8A2D2D;
    font-style: italic;
}

.menu-banner {
    width: 1000px;
    height: 500px;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
}

.menu p {
    color: #8A2D2D;
    font-style: italic;
    margin:20px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "cake pasteries"
    "gelato beverages";
    list-style:none;
}

.cake {
    list-style: none;
}

.cakepicture {
width: 500px;
height: 300px;
}

.pasteries {
width: 500px;
height: 300px;
}

.gelato {
width: 500px;
height: 300px;
}

.drinks {
width: 500px;
height: 300px;
padding-right: 250px;
}

.beverages li {
    padding-right: 250px;
}

.beverages h2 {
    padding-right: 250px;
}

li {
    list-style: none;
    color:#8A2D2D;
    font-style:italic;
}

footer {
    height: 75px;
    background-color: #3D2208;
    color: #cc9673;
    text-align: center;
    font-size: 20px;
    font-weight:bolder;
    padding-top: 10px;
}